# Files to exclude from npm registry
node_modules/
.git
.github
.gitignore
.eslintrc
.prettier*

# Documentation
CHANGELOG.md
CONTRIBUTING.md

# Build files
*.o
*.out

# macOS
.DS_Store

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
