# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idx/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
bitrim-output/
test-images/
*.tmp

bin/